body {
  background: #ffffff;
  font-family: "Lucida Console", monospace;
}
.container {
  border-radius: 10px;
  padding: 10px 30px 30px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/092/710/original/blue_clay_background_Medium.png?1691597297");
  background-size: cover;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 50px auto 0;
}
.text-center {
  background: rgba(255, 255, 255, 0.5);
}
ul {
  list-style: none;
}
h1 {
  font-size: 100px;
  margin-bottom: 0;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 150px;
}
p {
  text-align: center;
  font-weight: normal;
  font-weight: bold;
}
footer {
  font-size: 12px;
  text-align: center;
}
a {
  text-decoration: none;
}
.mb-3 {
  font-size: 12px;
  text-align: left;
}
.form-control {
  font-size: 10px;
  padding: 3px 0 3px 12px;
  background: rgba(188, 197, 208, 0.7);
}
.btn-secondary {
  font-size: 12px;
  border-radius: 150px;
  margin: 5px auto 0px;
  padding: 1px 12px;
  background: #4a4a4a;
  border: none;
}
.btn-primary {
  font-size: 12px;
  border-radius: 150px;
  margin: 5px auto 0px;
  padding: 1px 12px;
  border: none;
  background: #56c9f7;
}
.col {
  font-weight: bold;
  text-align: center;
  margin: 30px auto;
}
.units {
  font-size: 80px;
}
.number {
  font-weight: bold;
}
.mainImg {
  width: 250px;
}
.miniImg {
  width: 60px;
}
.low {
  color: rgba(0, 0, 0, 0.6);
}
